* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: #3c529980;
    color: white;
    background-color: black;
   /* background-image: url(../assets/background.svg);*/
    background-size: cover;
    background-position: 30%;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

/*HEADER*/
h1{
    font-size: 24px;
    margin-bottom: 0;
    text-align: center;
}


.header-section-container h3{
    font-size: 18px;
}

.header-section {
    width: 100%;
    box-sizing: border-box;
    top: 0;
    padding: 0 20px;
}

.latest-update span{
    color: #FCD139;
}

.header-section-container {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
    background-color: #0e020263;
    padding: 0 20px;
    border-radius: 0 0 10px 10px;
}

.header-section-logo {
    width: 200px;
    margin: 20px 0;
}

.header-section-logo img{
    width: 100%;
}

.header-section-title {
    margin: 0 auto;
}

.introduction-text {
    text-align: center;
}

/*Bet table*/
.bet-table{
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 20px;
    
}

.bet-table__bar{
    background-color: #1D1D1D;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
}


.bonus,.play{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.rating{
    width: 50%;
    text-align: center;
}

.bar-element{
    width: 20%;
    text-align: center;
}

/*Game Cards*/

.game-card{
    background-color: #1D1D1D;
    border-radius: 10px;
    width: 100%;
    height: 150px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: ease 0.3s;
    box-shadow: 0 2px 10px 0 rgb(135 134 134 / 36%), 0 4px 22px 0 rgb(135 134 134 / 14%);
    position: relative;
}

.game-card:hover{
    transform: scale(1.05);
}

.ribbon-container {
    position: absolute;
    top: -5px;
    left: -10px;
    overflow: visible;
    font-size: 13px;
    line-height: 14px;
    z-index: 6;
    text-align: left;
    background: #f33;
}

.ribbon-container::before{
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
}

.ribbon-container span{
    display: block;
    padding: 2px 8px 3px 10px;
    position: relative;
    background: #f33;
    overflow: visible;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.ribbon-container span:before{
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 0;
    right: -8px;
    border-color: #f33 transparent;
    border-style: solid;
    border-width: 10px 8px 9px 0;
    border-top: 10px solid #f33;
    border-bottom: 9px solid #f33;
}

.ribbon-container span::after{
    bottom: -7px;
    left: 0;
    border-top: 7px solid #990509;
    border-left: 10px solid transparent;
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
}



.game-container{
    width: 25%;
    background-color: #2B1234;
    height: 100%;
    display: flex;
    position: relative;
    border-radius: 10px 0 0 10px;
}

.game-image{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.game-image img{
    width: 80%;
}

.game-container::after{
    content: url(../assets/after-arrow.png);
    position: absolute;
    right: 27px;
    top: 0;
    width: 36px;
    height: 120px;
}

.second{
    background-color: #DDD1D1;
}



.third{
    background-color: black;
}



.fourth{
    background-color: black;
}



.game-container-2{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.game-info{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.game-info h3{
    color: forestgreen;
}
.game-disclaimer{
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 12px;
    color: #999999;
    background-color: #161515;
    padding: 10px;
    position: absolute;
    bottom: 60px;
    left: 0;
    border-radius: 10px;
    border: 1px solid #FCD139;
}

.game-disclaimer a{
    font-weight: bold;
    color: #FCD139;
    text-decoration: underline;
}

.bonus h3{
    margin: 5px 0;
}

.bonus p{
    margin: 0;
}

.rating{
    display: flex;
    align-items: center;
}

.rating-stars{
    width: 50%;
}

.rating-score{
    width: 50%;
}
.rating-stars p{
    margin-bottom: 0;
}

.rating img{
    width: 150px;
}

.play a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 10px 40px;
    background-color: #FCD139;
    border-radius: 5px;
    transition: ease-in-out .3s;
    cursor: pointer;
}

.play a:hover{
    background-color: red;
    color: white;
    transform: scale(1.1);
}

@media screen and (max-width:850px){
    
    .bet-table{
        display: none;
    }
}

/*BET TABLE FOR MOBILE*/    
.bet-table-mobile{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.game-container-mobile{
    display: flex;
    width: 50%;
    background-color: #161515;
    height: 100%;
    position: relative;
    border-radius: 10px 0 0 10px;
}

.game-image-mobile, .game-image-mobile img{
    max-height: 100px;
    max-width: 100%;
}

.game-image-mobile{
    width: 80%;
    margin-top: 35px;
    padding-top: 10px;
    display: flex;
}


.game-image-mobile:last-child{
    justify-content: center;
}

.game-container-mobile::after{
    content: url(../assets/after-arrow-mobile.png);
    position: absolute;
    right: 34px;
    top: 0;
    width: 36px;
}

.game-mobile-rating{
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.game-mobile-rating h2{
    margin: 0;
}

.game-mobile-rating p{
    margin: 0;
    font-size: 12px;
    color: #999999;
}

.game-container-mobile-2{
    width: 50%;
    padding: 5px;
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.game-container-mobile-2 label{
    text-align: center;
    font-size: 12px;
    color: #999999;
    cursor: pointer;
}

#game-disclaimer{
    display: none;
}


#game-disclaimer:checked ~ .game-disclaimer{
        display: flex;
    }

#game-disclaimer-2{
    display: none;
}

#game-disclaimer-2:checked ~ .game-disclaimer{
        display: flex;
    }

@media screen and (max-width:850px){
    
    .game-info{
        flex-direction: column;
        height: 150px;
        position: relative;
        justify-content: flex-start;
    }

    .bonus{
        width: 100%;
        margin-top: 10px;
    }

    .play{
        position: absolute;
        bottom: 20px;
        width: 100%;
    }

    .play a{
        padding: 10px 30px;
    }

    .game-card:hover{
        transform: scale(1);
    }

    .game-card{
        min-height: 200px;
    }

}
@media screen and (min-width:850px){
    
    .bet-table-mobile{
        display: none;
    }
    .game-disclaimer{
        position: initial;
        display: flex;
        background: none;
        border-radius: none;
        border: none;
    }
    .game-disclaimer a{
        display: none;
    }
}

/*DETAILED TEXT*/

.detailed-text{
    max-width: 1024px;
    margin: 20px auto 0;
    padding: 0 20px;
}


.detailed-text-container{
    width: 100%;
    background-color: #0e0202db;
    border-radius: 10px;
    padding: 20px;
}

.detailed-text h3{
    text-align: center;
}

/*Footer*/

.footer{
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 0;
}

.footer-container{
    width: 100%;
    background-color: #0e0202db;
    border-radius: 0 0;
    padding: 0 20px;
}

.footer-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.footer-logos img{
    width: 20%;
    margin-top: 10px;
}
.footer-menu{
    width: 100%;
    padding: 20px 0;
}

.footer-menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-size: 16px;
    text-align: center;
}

.footer-menu a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: ease 0.3s;
    text-transform: capitalize;
}

.footer-menu li input{
    display: none;
}

.footer-menu li label{
    text-transform: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: ease 0.3s;
}

@media screen and (max-width:600px) {
    .footer-logos img{
        width: 30%;
    }
}

/*Pop up*/

.pop-up{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000009c;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}

.close-label{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.pop-up__container{
    width: 400px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #1D1D1D;
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition: ease 0.5s;
    padding: 20px;
    border-radius: 30px;
    margin: 40px;
    overflow-y: auto;
}
.pop-up__container h1{
    text-align: center;
    margin-bottom: 0;
}

.pop-up__container p{
    font-size: 14px;
    text-align: center;
}
.pop-up__container input:not(:last-child){
    border: none;
    background-color: #393939;
    border-radius: 5px;
    outline: none;
    color: white;
    padding: 10px 5px;
}

.form-label{
    margin: 10px 0
}

.pop-up__container header{
    display: flex;
    width: 100%;
}


/*Footer Modals*/
.close-button{
    border: #FCD139 solid 2px;
    border-radius: 5px;
    transition: ease 0.5s;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
}

.close-button:hover{
    transform: scale(1.1);
}

.footer-menu li label .close-button:hover{
    background-color: #FCD139;
    transform: scale(1.1);
    color: black;
}
#contact:checked ~ .pop-up{
    opacity: 1;
    visibility: visible;
}

#privacy:checked ~ .pop-up{
    opacity: 1;
    visibility: visible;
}
#terms:checked ~ .pop-up{
    opacity: 1;
    visibility: visible;
}

.pop-up__container form input{
    display: block;
}

.pop-up__container form{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#modal-button{
    border: #FCD139 solid 2px;
    border-radius: 5px;
    transition: ease 0.3s;
    padding: 10px 30px;
    cursor: pointer;
    color: white;
    background: none;
    font-size: 16px;
    font-weight: 700;
}

#modal-button:hover{
    background-color: #FCD139;
    transform: scale(1.1);
    color: black;
}

textarea{
    resize: none;
    outline: none;
    margin-bottom: 10px;
    background-color: #393939;
    border: none;
    padding: 20px;
    color: white;
}